<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jingyiban.mapper.ProduceTypeMapper" >
  <resultMap id="BaseResultMap" type="cn.jingyiban.pojo.ProduceType" >
    <id column="s_id" property="id" jdbcType="INTEGER" />
    <result column="typeName" property="name" jdbcType="VARCHAR" />

    <collection property="produces" ofType="cn.jingyiban.pojo.Produce">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="type_id" property="typeId" jdbcType="INTEGER" />
      <result column="img" property="img" jdbcType="VARCHAR" />
      <result column="price" property="price" jdbcType="DECIMAL" />
      <result column="des" property="des" jdbcType="VARCHAR" />
      <result column="view_num" property="viewNum" jdbcType="INTEGER" />

    </collection>

  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="select" resultType="cn.jingyiban.pojo.ProduceType" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sm_produce_type
  </select>

  <!--根据类别分数组-->
  <!--注意重名字段容易出问题-->
  <select id="selectTypeProduce" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT a.name as typeName,a.id as s_id ,b.* FROM sm_produce_type a
    LEFT JOIN sm_produce b on a.id = b.type_id
  </select>
  <select id="selectByPrimaryKey" resultType="cn.jingyiban.pojo.ProduceType" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sm_produce_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sm_produce_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jingyiban.pojo.ProduceType" >
    insert into sm_produce_type (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.jingyiban.pojo.ProduceType" >
    insert into sm_produce_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jingyiban.pojo.ProduceType" >
    update sm_produce_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jingyiban.pojo.ProduceType" >
    update sm_produce_type
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>